# Node modules
node_modules/

# Build output
dist/
out/
*.exe

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Electron builder cache
.cache/

# Optional: VS Code settings
.vscode/
